.search_bar {
	font-family:Trebuchet MS, Helvetica, san-serif;
	font-size: 11px;
	line-height: 21px;
	background: url(images/search_bar.png) bottom repeat-x;
	border-bottom: 1px solid #4E4E4E;
}
.actions {
	line-height: 21px;
	width: auto;
	float: left;
	padding: 0 20px;
	background: url(images/add.png) left 1px no-repeat;
}

.actions_mult {
	line-height: 21px;
	width: auto;
	float: left;
	padding: 0 20px;
	background: url(images/add_multiple.png) left 1px no-repeat;
}

.search_button {
	line-height: 21px;
	text-align: center;
	background: url(images/search_button.png) no-repeat;
	width: 97px;
	float: right;
}
.search_button a, #search_button a:visited {
	color: #FFFFFF;
	line-height: 21px;
	background: url(images/magnifier.png) left 1px no-repeat;
	padding-left: 20px;
}
.search_button a:hover {
	color: #8ec63f;
}
.search_box {
	font-family:Trebuchet MS, Helvetica, san-serif;
	padding: 8px;
	border: 1px solid #4E4E4E;
	border-top: none;
	display:none;
}
.go_button {
	background: #4E4E4E;
	float: right;
	font-size: 11px;
	line-height: 21px;
	text-align: center;
	width:80px;
}
.go_button a, .go_button a:visited {
	background: transparent url(images/accept.png) no-repeat scroll left 1px;
	color: #FFFFFF;
	line-height: 21px;
	padding-left: 20px;
	font-size: 11px;
	text-align: center;
}

.yui-pg-rpp-options {width: auto;}
