ul {margin: 0; padding: 0}
li {margin: 0; padding: 0;}

body {
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	text-align: left;
	margin: 0;
	padding: 0;
	line-height: 16px;
        width: 100%;
        background-color: #e7e9ee;
        color: #333333;
        overflow-y: scroll;
        background: url(images/background_new.png) ;

}

body.mceContentBody  {background: none;}
html  {padding: 5px;}

.nop { padding: 0;}

p {margin: 0 0 14px 0; padding: 0;}

li {margin: 0 0 14px 0; padding:0;}
a {color: #348318; text-decoration:none;}
a:hover { text-decoration:underline;}

#container, #header, #main, #footer, #main_menu {
	width: 970px;
	margin: 0 auto;
}

#header {
	height: 181px;
	padding: 20px;
	margin:0;
        width: 920px;

}

#header .logo {background: url(images/logo.png) no-repeat left top; width: 168px; height: 169px; display: block; vertical-align: top; margin-top: 5px; float: left;}
#header .banner {background: url(images/baner_bg.png) no-repeat left top; width: 715px; height: 181px; display: block; margin-left: 30px; float: left;}
#header .banner img {margin: 8px 0 0 8px;}

#main {
    border: 2px solid #348518;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 25px;
    width: 916px;
}


#content {

}
#leftColumn, #rightColumn {
	width: 209px;
	float: left;
	/*margin: 0 20px 0 0;*/
	/*text-align:center;*/
	padding: 0;
}
#wrapper {}

#footer {
        color:#333333;
	text-align:center;
        margin: 15px 0;
        color: #348318;
}
#footer a, #footerNew a {
	color:#FFFFFF;
	text-decoration:none;
}
#footer a:hover, #footerNew a:hover {
	color:#333333;
}
#footer p, #footerNew p  {margin: 0;}




#main_menu {
	height: 40px;	
}

/* ### Sidebars ### */
.toggler {
	color: #222;
	padding: 2px 5px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	margin: 0;
}
#faq_accordion h3.toggler atStart {font-size: 14px; font-weight: bold;}
.element p {margin: 5px 10px;}
.element a {background:#fc4c82; border: 1px outset #CCCCCC; margin-left: 10px; color:#FFFFFF; padding: 2px 5px;}

#faqsContact {padding: 140px 30px 30px 30px; background:url(images/logo.gif) top left no-repeat;}
.required_class {
color:red;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 16px;
	margin: 5px 0;
	padding: 0;
	line-height:normal;
        color: #0E6403;

}

h1 {color: #348318; font-size: 16px; font-weight: normal; border-bottom: 1px solid #348318; padding-bottom: 10px; margin-bottom: 10px;}
/*************** Gallery One Settings **************/
#picture_div {
	padding:0;
	margin: 0;
}
.complex-align {
	float:left;
	width: 175px;
	height: 285px;
	margin: 5px 5px;
}

.one_picture {
	padding:0;
	margin: 0;
}
.tool-tip {
	z-index:2500;
}
/********* Google maps *******/
#map_canvas, #pano { width: 525px; height: 425px}
#pano {height: 300px;}
#directions {width: 425px;}
.gmls-app {width : 188px;}
.gmls-search-form form.gsc-search-box input.gsc-input {padding : 1px;  width : 180px;}
td.gsc-search-button {width : auto; padding-left: 5px;}

.aligncenter	{display:block;margin:0 auto;}

.cross ul, li
{
    list-style-type: none;
}

#side_box .side_box_element
{
    width: 181px;
    padding-bottom: 10px;
}
img {border: none;}

.clear {clear: both;}



#gallery .image {float: left; border: 1px solid #BBBBBB; margin: 7px 8px 7px 0; padding: 5px; width: 120px; text-align: center;}
#gallery .image:hover {border-color: #075793; }

#gallery .nomargin {margin-right: 0;}



.short_news {text-align: left;}
.short_news p {margin: 0;}
.short_news h2 {font-size: 14px;}
.short_news .item {margin-bottom: 10px; border-bottom: 1px dotted; padding-bottom: 3px;}

.Pagination {text-align: center;}

input[type=text], input[type=password], textarea {border: 1px solid #07A103; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; padding: 5px; margin-bottom: 5px; resize: none;}

#guest_book textarea {width: 543px;  height: 100px;}
textarea#answer {height: 170px; width: 360px;}

input[type=text], input[type=password] {width: 300px;}

#guest_book #posts {margin: 20px 0; position: relative;}

#guest_book #posts .post {/*border-bottom: 1px dotted #07A103;*/ background-color: #AFEA06; margin-bottom: 10px; padding: 5px;}

#guest_book .answer {margin-left: 30px; /*border: 1px dotted #ff0000;*/}
#guest_book .answer span {color: #ff0000; font-weight: bold; padding-right: 5px;}

#guest_book .answer_btn:hover {text-decoration: underline;}

.red {color: #FF0000;}
#guest_book .author {font-weight: bold;}

#guest_book .body {padding: 5px 0;}
#guest_book .left {float: left;}
#guest_book .right {float: right;}


#post_form {margin-bottom: 10px;}

#search.block {height: 50px;}

#search.block input {width: 150px; padding: 4px 5px; margin-top: 3px;}

#news .date {color: #575957; padding-right: 10px;}
#news .item {padding-bottom: 15px;}
#news .news_logo {float: left; margin: 0 10px 10px 0;}

#news .social {float: right;}
#news .detail {text-align: right; padding-right: 50px;}

#vk_comments {margin-top: 20px;}


#preps .date {color: #575957; padding-right: 10px;}
#preps .item {padding-bottom: 10px; margin-bottom: 15px; border-bottom: 1px dotted #348318;}
#preps .news_logo {float: left; margin: 0 10px 10px 0;}

#preps .social {float: right;}
#preps .detail {text-align: right; padding-right: 50px;}

.table {border-collapse: collapse; border: 1px solid #348318; width: 100%;}
.table td{padding: 5px; border: 1px solid #348318;}

.table_head {font-weight: bold; background-color: #808080; color: #ffffff;}

#breadcrumbs {padding-bottom: 10px;}

#breadcrumbs .separ {background: url(images/breadcrumb-separator.gif) no-repeat top left; width: 13px; height: 9px; display: inline-block;}