.darkgreen {
		color:#004065;
}
.greenheadingContent {
		color:#004065;
		font-weight:regular;
		
}
.bluePcontent {
	color:#00759b;
	font-size:12px;
}
ul.box {
	display:block;
	background: #f1f2f1;
	width: 360px;
	padding: 7px;
	margin-left: 40px;
	padding-left: 15px;
}
.lightGreen {
	color: #00759b;
}
.blackFont {
	color:#000000;
}