<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="home" />
<meta name="description" content="home" />
<title>
Home
</title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/slimbox.css" type="text/css" media="screen" />
<script type="text/javascript">
        var script_url = '/';
        var images_prefix = '/css/images/';
        var ajax_prefix = '/';
        var common_prefix = '';
</script>
<script type="text/javascript" src="/js/validator_o.js"></script>
<script type="text/javascript" src="/js/AJAX.js"></script>
<script type="text/javascript" src="/js/mootools.v1.11.js"></script>

<script type="text/javascript" src="/js/slimbox_module.js"></script>
<script type="text/javascript" src="/js/body_blocker.js"></script>
<script type="text/javascript">        
            
        window.addEvent('domready',function()
                        {
                            init_additional();
                            
                        });
                
    </script>
<script type="text/javascript">
    function init_additional()
    {
        
        
        
        
    }
    </script>
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
<div id="header">
<div id="myCart"> <strong>My Shopping Cart</strong><br /><br />
Items: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0<br />

Sub Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$0<br />
<br />
<a href="#">View Cart:</a>
</div>
<a href="index.html"><img src="css/images/logo.gif" alt="Home" width="217" height="95" /></a>
<div id="main_menu">
<ul class="menu2">
<li class="top"><a href="/home.html" id="home" class="top_link"><span>Home</span></a></li>
<li class="top"><a href="/glass-frosting-designs.html" class="top_link"><span class="top_link">Designs</span> 	        </a></li>
<li class="top"><a href="/glass-frosting-uses.html" class="top_link"><span class="top_link">Uses</span> 	        </a></li>
<li class="top"><a href="/glass-frosting-application.html" class="top_link"><span class="top_link">Application</span> 	        </a></li>
<li class="top"><a href="/q-a.html" class="top_link"><span class="top_link">Q&A</span> 	        </a></li>
<li class="top"><a href="/Press-PR.html" class="top_link"><span class="top_link">Press & PR</span> 	        </a></li>
<li class="top"><a href="/How-Order.html" class="top_link"><span class="top_link">How to Order</span> 	        </a></li>
</ul>
</div>
<p><img src="css/images/imageSet.jpg" width="900" height="253" /> </p>
</div>
<div id="main">
<div id="leftColumn">
<h2>Product Designs</h2>
<a href="#">Plain Frosted Glass</a><br />
<a href="#">Frames</a><br />
<a href="#">Graphics</a><br />
<a href="#">All Over Designs</a><br />

<a href="#">Safety Glass Spots</a><br />
<a href="#">House Numbers</a><br />
<a href="#">Text/Signs</a><br />
</div>
<div id="content">
  <h1>Plain Frosted Glass</h1>
  <div id="product_list">
    <div id="product">
      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/25"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx01-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx01-small.gif" alt="MX01" />
            <!-- PRODUCT THUMBNAIL -->
      </a><p>frosted glass description here</p></div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/25" onmouseover="document.getElementById('preview_image').src='/cms/images/mx01-medium.jpg'">MX01</a></h4>
      <p>Position:
        <select name="select" id="select">
          <option>------ Position --------</option>
          <option value="Centre in the middle of the film">Centre in the middle of the film</option>
          <option value="Run as a border">Run as a border</option>
          <option value="Horizontal across middle">Horizontal across middle</option>
          <option value="Horizontal across bottom">Horizontal across bottom</option>
          <option value="Vertical down left">Vertical down left</option>
          <option value="Vertical l down middle">Vertical l down middle</option>
          <option value="Vertical l across right">Vertical l across right</option>
        </select>
        <input type="submit" name="button" id="button" value="+" />
        <!-- PRODUCT NAME -->
        <br />
        <br />
Enter Text here you would like to appear on your frosting<br />
<textarea name="textarea" id="textarea" cols="35" rows="3"></textarea>
<br />
<br />
Quantity:
<input name="quantity" type="text" id="quantity" size="5" maxlength="5" />
<br />
<br />
<input type="submit" name="button" id="button2" value="add to cart" />
</p>
      </div>
    <div id="product">
      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/26"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx02-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx02-small.gif" alt="MX02" />
          <!-- PRODUCT THUMBNAIL -->
        </a>
        <p>frosted glass description here</p>
        </div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/26" onmouseover="document.getElementById('preview_image').src='/cms/images/mx02-medium.jpg'">MX02</a></h4>
      <p>Position:
        <select name="select2" id="select2">
          <option>------ Position --------</option>
          <option value="Centre in the middle of the film">Centre in the middle of the film</option>
          <option value="Run as a border">Run as a border</option>
          <option value="Horizontal across middle">Horizontal across middle</option>
          <option value="Horizontal across bottom">Horizontal across bottom</option>
          <option value="Vertical down left">Vertical down left</option>
          <option value="Vertical l down middle">Vertical l down middle</option>
          <option value="Vertical l across right">Vertical l across right</option>
        </select>
        <input type="submit" name="button2" id="button3" value="+" />
        <!-- PRODUCT NAME -->
        <br />
        <br />
Enter Text here you would like to appear on your frosting<br />
<textarea name="textarea2" id="textarea2" cols="35" rows="3"></textarea>
<br />
<br />
Quantity:
<input name="quantity2" type="text" id="quantity2" size="5" maxlength="5" />
<br />
<br />
<input type="submit" name="button2" id="button4" value="add to cart" />
</p>
      <!-- PRODUCT NAME -->
    </div>
    <div id="product">      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/27"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx03-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx03-small.gif" alt="MX03" />
            <!-- PRODUCT THUMBNAIL -->
      </a> 
        <p>frosted glass description here</p>
    </div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/27" onmouseover="document.getElementById('preview_image').src='/cms/images/mx03-medium.jpg'">MX03</a></h4>
      Position:
        <select name="select3" id="select3">
            <option>------ Position --------</option>
            <option value="Centre in the middle of the film">Centre in the middle of the film</option>
            <option value="Run as a border">Run as a border</option>
            <option value="Horizontal across middle">Horizontal across middle</option>
            <option value="Horizontal across bottom">Horizontal across bottom</option>
            <option value="Vertical down left">Vertical down left</option>
            <option value="Vertical l down middle">Vertical l down middle</option>
            <option value="Vertical l across right">Vertical l across right</option>
                </select>
        <input type="submit" name="button3" id="button5" value="+" />
        <!-- PRODUCT NAME -->
        <br />
        <br />
        Enter Text here you would like to appear on your frosting<br />
        <textarea name="textarea3" id="textarea3" cols="35" rows="3"></textarea>
        <br />
        <br />
        Quantity:
        <input name="quantity3" type="text" id="quantity3" size="5" maxlength="5" />
      
        <input type="submit" name="button4" id="button6" value="add to cart" />
        <!-- PRODUCT NAME -->
    </div>
    <div id="product">
      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/28"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx04-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx04-small.gif" alt="MX04" />
            <!-- PRODUCT THUMBNAIL -->
      </a>
        <p>frosted glass description here</p>
      </div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/28" onmouseover="document.getElementById('preview_image').src='/cms/images/mx04-medium.jpg'">MX04</a></h4>
      Position:
        <select name="select4" id="select4">
            <option>------ Position --------</option>
            <option value="Centre in the middle of the film">Centre in the middle of the film</option>
            <option value="Run as a border">Run as a border</option>
            <option value="Horizontal across middle">Horizontal across middle</option>
            <option value="Horizontal across bottom">Horizontal across bottom</option>
            <option value="Vertical down left">Vertical down left</option>
            <option value="Vertical l down middle">Vertical l down middle</option>
            <option value="Vertical l across right">Vertical l across right</option>
                </select>
        <input type="submit" name="button5" id="button7" value="+" />
        <!-- PRODUCT NAME -->
        <br />
        <br />
        Enter Text here you would like to appear on your frosting<br />
        <textarea name="textarea4" id="textarea4" cols="35" rows="3"></textarea>
        <br />
        <br />
        Quantity:
        <input name="quantity4" type="text" id="quantity4" size="5" maxlength="5" />
      
        <input type="submit" name="button5" id="button8" value="add to cart" />
        <!-- PRODUCT NAME -->
    </div>
    <div id="product">
      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/29"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx05-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx05-small.gif" alt="MX05" />
            <!-- PRODUCT THUMBNAIL -->
      </a> 
        <p>frosted glass description here</p>
      </div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/29" onmouseover="document.getElementById('preview_image').src='/cms/images/mx05-medium.jpg'">MX05</a></h4>
      Position:
        <select name="select5" id="select5">
            <option>------ Position --------</option>
            <option value="Centre in the middle of the film">Centre in the middle of the film</option>
            <option value="Run as a border">Run as a border</option>
            <option value="Horizontal across middle">Horizontal across middle</option>
            <option value="Horizontal across bottom">Horizontal across bottom</option>
            <option value="Vertical down left">Vertical down left</option>
            <option value="Vertical l down middle">Vertical l down middle</option>
            <option value="Vertical l across right">Vertical l across right</option>
                </select>
        <input type="submit" name="button6" id="button9" value="+" />
        <!-- PRODUCT NAME -->
        <br />
        <br />
        Enter Text here you would like to appear on your frosting<br />
        <textarea name="textarea5" id="textarea5" cols="35" rows="3"></textarea>
        <br />
        <br />
        Quantity:
        <input name="quantity5" type="text" id="quantity5" size="5" maxlength="5" />
      
        <br />
        <br />
        <input type="submit" name="button6" id="button10" value="add to cart" />
        <!-- PRODUCT NAME -->
    </div>
    <div id="product">
      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/30"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx06-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx06-small.gif" alt="MX06" />
            <!-- PRODUCT THUMBNAIL -->
      </a>
        <p>frosted glass description here</p>
      </div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/30" onmouseover="document.getElementById('preview_image').src='/cms/images/mx06-medium.jpg'">MX06</a></h4>
      Position:
        <select name="select6" id="select6">
            <option>------ Position --------</option>
            <option value="Centre in the middle of the film">Centre in the middle of the film</option>
            <option value="Run as a border">Run as a border</option>
            <option value="Horizontal across middle">Horizontal across middle</option>
            <option value="Horizontal across bottom">Horizontal across bottom</option>
            <option value="Vertical down left">Vertical down left</option>
            <option value="Vertical l down middle">Vertical l down middle</option>
            <option value="Vertical l across right">Vertical l across right</option>
                </select>
        <input type="submit" name="button7" id="button11" value="+" />
        <!-- PRODUCT NAME -->
        <br />
        <br />
        Enter Text here you would like to appear on your frosting<br />
        <textarea name="textarea6" id="textarea6" cols="35" rows="3"></textarea>
        <br />
        <br />
        Quantity:
        <input name="quantity6" type="text" id="quantity6" size="5" maxlength="5" />
        <br />
        <br />
      
        <input type="submit" name="button7" id="button12" value="add to cart" />
        <!-- PRODUCT NAME -->
    </div>
    <div id="product">
      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/31"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx07-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx07-small.gif" alt="MX07" />
            <!-- PRODUCT THUMBNAIL -->
      </a>
        <p>frosted glass description here</p>
      </div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/31" onmouseover="document.getElementById('preview_image').src='/cms/images/mx07-medium.jpg'">MX07</a></h4>
      Position:
        <select name="select7" id="select7">
            <option>------ Position --------</option>
            <option value="Centre in the middle of the film">Centre in the middle of the film</option>
            <option value="Run as a border">Run as a border</option>
            <option value="Horizontal across middle">Horizontal across middle</option>
            <option value="Horizontal across bottom">Horizontal across bottom</option>
            <option value="Vertical down left">Vertical down left</option>
            <option value="Vertical l down middle">Vertical l down middle</option>
            <option value="Vertical l across right">Vertical l across right</option>
                </select>
        <input type="submit" name="button8" id="button13" value="+" />
        <!-- PRODUCT NAME -->
        <br />
        <br />
        Enter Text here you would like to appear on your frosting<br />
        <textarea name="textarea7" id="textarea7" cols="35" rows="3"></textarea>
        <br />
        <br />
        Quantity:
        <input name="quantity7" type="text" id="quantity7" size="5" maxlength="5" />
      <p>
        <input type="submit" name="button8" id="button14" value="add to cart" />
      </p>
      <!-- PRODUCT NAME -->
    </div>
    <div id="product">
      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/32"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx08-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx08-small.gif" alt="MX08" />
            <!-- PRODUCT THUMBNAIL -->
      </a> 
        <p>frosted glass description here</p>
      </div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/32" onmouseover="document.getElementById('preview_image').src='/cms/images/mx08-medium.jpg'">MX08</a></h4>
      Position:
        <select name="select8" id="select8">
            <option>------ Position --------</option>
            <option value="Centre in the middle of the film">Centre in the middle of the film</option>
            <option value="Run as a border">Run as a border</option>
            <option value="Horizontal across middle">Horizontal across middle</option>
            <option value="Horizontal across bottom">Horizontal across bottom</option>
            <option value="Vertical down left">Vertical down left</option>
            <option value="Vertical l down middle">Vertical l down middle</option>
            <option value="Vertical l across right">Vertical l across right</option>
                </select>
        <input type="submit" name="button9" id="button15" value="+" />
        <!-- PRODUCT NAME -->
        <br />
        <br />
        Enter Text here you would like to appear on your frosting<br />
        <textarea name="textarea8" id="textarea8" cols="35" rows="3"></textarea>
        <br />
        <br />
        Quantity:
        <input name="quantity8" type="text" id="quantity8" size="5" maxlength="5" />
        <br />
        <br />
      
        <input type="submit" name="button9" id="button16" value="add to cart" />
        <!-- PRODUCT NAME -->
    </div>
    <div id="product">
      <div> <a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/33"> <img onmouseover="document.getElementById('preview_image').src='/cms/images/mx09-medium.jpg'" src="http://www.windowwallpaper.co.uk/cms/images/mx09-small.gif" alt="MX09" />
            <!-- PRODUCT THUMBNAIL -->
      </a>
        <p>frosted glass description here</p>
      </div>
      <!-- .thumbnail -->
      <h4><a href="http://www.windowwallpaper.co.uk/osb/itemdetails.cfm/ID/33" onmouseover="document.getElementById('preview_image').src='/cms/images/mx09-medium.jpg'">MX09</a></h4>
      Position:
        <select name="select9" id="select9">
            <option>------ Position --------</option>
            <option value="Centre in the middle of the film">Centre in the middle of the film</option>
            <option value="Run as a border">Run as a border</option>
            <option value="Horizontal across middle">Horizontal across middle</option>
            <option value="Horizontal across bottom">Horizontal across bottom</option>
            <option value="Vertical down left">Vertical down left</option>
            <option value="Vertical l down middle">Vertical l down middle</option>
            <option value="Vertical l across right">Vertical l across right</option>
                </select>
        <input type="submit" name="button10" id="button17" value="+" />

        <!-- PRODUCT NAME -->
        <br />
        <br />
        Enter Text here you would like to appear on your frosting<br />
        <textarea name="textarea9" id="textarea9" cols="35" rows="3"></textarea>
        <br />
        <br />
        Quantity:
        <input name="quantity9" type="text" id="quantity9" size="5" maxlength="5" />
      
        <br />
        <br />
        <input type="submit" name="button10" id="button18" value="add to cart" />
        <!-- PRODUCT NAME -->
    </div>
  </div>
  <!-- .product_list -->
  <table id="category_images">
    <tbody>
      <tr>
        <td colspan="4"></td>
      </tr>
    </tbody>
  </table>
  <p><br />
</p>
</div>
<div id="footer">
</div>
</div>
</div>
<div align="center" id="copyright">Copyright 2008 Frost & Co </div>
</body>
</html>